
/* Body Styles */

body {
	background-image: url("background_main.jpg");
	background-attachment: fixed;
	font-family: "Trebuchet MS", Verdana, serif;
	color: white;
    overflow-x: auto;
}

/* Heading Styles */

header {
	background-color: rgba(0, 190, 60, .6);
	padding-top: 5px;
	/*border: solid;*/
	border-color: rgb(15, 15, 15);
}

h1 {
	text-align: center;
	font-size: 250%;
}

h2.console_h2 {
	float: left;
	width: 99%;
}

h2 {
	background-color: rgba(15, 15, 15, .5);
	padding: 10px;
	color: white;
	border-style: none;
	border-color: rgb(15, 15, 15);
}

h3 {
	font-size: 175%;
}

/* MENU Styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}

li {
    float: left;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 190, 60, .6);
}

/* Aside Styles */

aside {
	text-align: center;
	float: left;
	width: 50%;
}

/* Images Styles */

img.collection {
	float: left;
	padding: 0px;
	border: solid;
	border-color: rgba(15, 15, 15, .5);
}

img.size {
	width: 105;
	height: 120;
}

figure.consoles {
	float: left;
	text-align: center;
	font-style: italic;
	text-indent: 0;
	border: thick solid;
	border-color: rgba(15, 15, 15, .5);
	margin: 0.5em;
	padding: 0.5em;
	background-color: rgba(25, 25, 25, .7);
	width: 30%;
	display: inline-block;
}

figure.games {
	float: left;
	text-align: center;
	font-style: italic;
	text-indent: 0;
	border: thick solid;
	border-color: rgba(15, 15, 15, .5);
	margin: 0.5em;
	padding: 0.5em;
	background-color: rgba(25, 25, 25, .7);
	width: 10.7%;
}

/* Footer Styles */

footer {
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	font-style: normal;
	font-variant: small-caps;
	border-top: 1px solid black;
	background-color: rgba(15, 15, 15, .5);
}